In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [3]:
df = pd.read_csv("C:/Users/niran/OneDrive/Desktop/Projects/DoorDash Project/final_data.csv")

In [4]:
from sklearn.preprocessing import LabelEncoder

# Initialize the label encoder
label_encoder = LabelEncoder()

# Encode 'store_primary_category'
df['store_primary_category'] = label_encoder.fit_transform(df['store_primary_category'])

In [5]:
df.head()

,market_id,created_at,actual_delivery_time,store_id,store_primary_category,order_protocol,total_items,subtotal,num_distinct_items,min_item_price,max_item_price,total_onshift_dashers,total_busy_dashers,total_outstanding_orders,estimated_order_place_duration,estimated_store_to_consumer_driving_duration,delivery_duration_seconds
0,1.0,2015-02-06 22:24:17,2015-02-06 23:27:16,1845,4,1.0,4,3441,4,557,1239,33.0,14.0,21.0,446,861.0,3779.0
1,3.0,2015-02-10 21:49:25,2015-02-10 22:56:29,5477,45,2.0,1,1900,1,1400,1400,1.0,2.0,2.0,446,690.0,4024.0
2,3.0,2015-01-22 20:39:28,2015-01-22 21:09:09,5477,45,1.0,1,1900,1,1900,1900,1.0,0.0,0.0,446,690.0,1781.0
3,3.0,2015-02-15 02:40:36,2015-02-15 03:20:26,5477,45,1.0,3,3900,3,1100,1600,6.0,6.0,9.0,446,650.0,2390.0
4,3.0,2015-01-28 20:30:38,2015-01-28 21:08:58,5477,45,1.0,3,5000,3,1500,1900,2.0,2.0,2.0,446,338.0,2300.0

In [8]:
# Convert 'created_at' to datetime
df['created_at'] = pd.to_datetime(df['created_at'])

# Extract day of the week (0=Monday, 1=Tuesday, ..., 6=Sunday) and hour of the day
df['day_of_week'] = df['created_at'].dt.dayofweek  # 0-6
df['hour_of_day'] = df['created_at'].dt.hour  # 0-23

In [9]:
df.head()

,market_id,created_at,actual_delivery_time,store_id,store_primary_category,order_protocol,total_items,subtotal,num_distinct_items,min_item_price,max_item_price,total_onshift_dashers,total_busy_dashers,total_outstanding_orders,estimated_order_place_duration,estimated_store_to_consumer_driving_duration,delivery_duration_seconds,day_of_week,hour_of_day
0,1.0,2015-02-06 22:24:17,2015-02-06 23:27:16,1845,4,1.0,4,3441,4,557,1239,33.0,14.0,21.0,446,861.0,3779.0,4,22
1,3.0,2015-02-10 21:49:25,2015-02-10 22:56:29,5477,45,2.0,1,1900,1,1400,1400,1.0,2.0,2.0,446,690.0,4024.0,1,21
2,3.0,2015-01-22 20:39:28,2015-01-22 21:09:09,5477,45,1.0,1,1900,1,1900,1900,1.0,0.0,0.0,446,690.0,1781.0,3,20
3,3.0,2015-02-15 02:40:36,2015-02-15 03:20:26,5477,45,1.0,3,3900,3,1100,1600,6.0,6.0,9.0,446,650.0,2390.0,6,2
4,3.0,2015-01-28 20:30:38,2015-01-28 21:08:58,5477,45,1.0,3,5000,3,1500,1900,2.0,2.0,2.0,446,338.0,2300.0,2,20

In [10]:
df = df.drop(columns=['created_at', 'actual_delivery_time'])

In [11]:
df.head()

,market_id,store_id,store_primary_category,order_protocol,total_items,subtotal,num_distinct_items,min_item_price,max_item_price,total_onshift_dashers,total_busy_dashers,total_outstanding_orders,estimated_order_place_duration,estimated_store_to_consumer_driving_duration,delivery_duration_seconds,day_of_week,hour_of_day
0,1.0,1845,4,1.0,4,3441,4,557,1239,33.0,14.0,21.0,446,861.0,3779.0,4,22
1,3.0,5477,45,2.0,1,1900,1,1400,1400,1.0,2.0,2.0,446,690.0,4024.0,1,21
2,3.0,5477,45,1.0,1,1900,1,1900,1900,1.0,0.0,0.0,446,690.0,1781.0,3,20
3,3.0,5477,45,1.0,3,3900,3,1100,1600,6.0,6.0,9.0,446,650.0,2390.0,6,2
4,3.0,5477,45,1.0,3,5000,3,1500,1900,2.0,2.0,2.0,446,338.0,2300.0,2,20

In [12]:
df.to_csv("C:/Users/niran/OneDrive/Desktop/Projects/DoorDash Project/ml_data.csv", index=False)